1. What exactly is [ ]?

In [ ]:
[] = square brackets.
list is using square brackets.
empty list

2. In a list of values stored in a variable called 
spam, how would you assign the value "hello" 
as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2, 4, 6, 8, 10]
spam[2]= "hello"
print(spam)

[2, 4, 'hello', 8, 10]

In [2]:
spam

[2, 4, 'hello', 8, 10]

In [3]:
spam = [2, 4, 6, 8, 10]
spam.insert(2, "hello")
print(spam)

[2, 4, 'hello', 6, 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next queries.
3. What is the value of spam[int(int('3'*2)/11)]?

In [5]:
spam = ['a', 'b', 'c', 'd']

In [6]:
[int(int('3'*2)/11)] #spam[int(33/11)] = spam[3]

[3]

In [7]:
spam[3]#index of [3] in spam is 'd'

'd'

4. What is the value of spam[-1]?

In [ ]:
spam = ['a', 'b', 'c', 'd']
spam[-1] #negative index (reverse order)

'd'

5. What is the value of spam[:2]?

In [ ]:
spam = ['a', 'b', 'c', 'd']
spam[:2]

['a', 'b']

Lets pretend bacon has the list [3.14, 'cat', '11', 'cat', True] for the next three question.
6. What is the value of bacon.index('cat')?

In [ ]:
bacon = [3.14, 'cat', '11', 'cat', True]
bacon.index('cat') ## it returns the index of first occurrence of 'cat'

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [ ]:
#append means added the value in end
bacon = [3.14, 'cat', '11', 'cat', True]
bacon.append(99) # append adds the item at the end of the list

In [ ]:
bacon

[3.14, 'cat', '11', 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [ ]:
bacon = [3.14, 'cat', '11', 'cat', True]
bacon.remove('cat') #remove first occurrence of item

In [ ]:
bacon

[3.14, '11', 'cat', True]

9. What are the list concatenation and list replication operators?

In [ ]:
list concatenation (+) : list concatenation  is an operation of adding the  elements of one list to the other list .
some of example :

In [ ]:
l1= [1,2,3]
l2 = [4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [ ]:
list replication(*): list replication is an operation of multiple copies of that particular object 
and combines them together.
some of example:

In [ ]:
l = [1,2,3,4]
l*2

[1, 2, 3, 4, 1, 2, 3, 4]

10. What is difference between the list methods append() and insert()?

In [ ]:
append(): append object to the  end of the list.
some of example:

In [ ]:
a  = [1, 2, 3, "chandra", 4]
a.append(33)
print(a)

[1, 2, 3, 'chandra', 4, 33]

In [ ]:
insert(): insert object before index.
some of example:

In [14]:
a = [1, 2, 3, 4, 5]
a.insert(1, "cat")#insering in the first index
print(a)

[1, 'cat', 2, 3, 4, 5]

11. What are the two methods for removing items from a list?

In [ ]:
from os import remove
The two methods for removing items from a list:
(i) remove()
(ii) pop()

In [ ]:
# remove: same object are in list , first occurence will be removed. 
# some example:
b = [1, 2, 3, 1, 4, 5]
b.remove(1)
b

[2, 3, 1, 4, 5]

In [ ]:
(ii)pop(): pop  always remove the last elements or index before the object will be removed.
some of example:

In [ ]:
c = ["cat", "dog", "elephant", "camel", "horse"]
c.pop()
c

['cat', 'dog', 'elephant', 'camel']

In [ ]:
c = ["cat", "dog", "elephant", "camel", "horse"]
c.pop(2)
print(c)

['cat', 'dog', 'camel', 'horse']

12. Describe how list values and string values are identical.

In [ ]:
"""
Both list and string can be passed len()
Have index and slices.
Wecan use loop.
We can concatenate both list and string.
We can replicate operator both list and string.
"""

13. What's the difference between tuples and lists?

In [ ]:
"""
Tuples:Tuples are using parentheses. ()
tuples are immutable.

list: lists are using square brackets.[]
lists are mutable.
"""

14. How do you type a tuple value that only contains the integer 42?

In [17]:
tuple=(42)

In [18]:

tuple

42

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [ ]:
t1=(9,"dad",2) #tuple to list
l=list(t1)
print(t1)
print(l)
print(type(t1))
print(type(l))

(9, 'dad', 2)
[9, 'dad', 2]
<class 'tuple'>
<class 'list'>

In [ ]:
l1=[2,"cat",3] #list to tuple
t = tuple(l1)
print(t)
print(type(l1))
print(type(t))

(2, 'cat', 3)
<class 'list'>
<class 'tuple'>

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [ ]:
#References
#Variables will contain references to list values rather than list values themselves. 
#But for strings and integer values, variables simply contain the string or integer value.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [19]:
#In order to make copies or clones, we use the copy module. The copy() returns a shallow copy of the list, and deepcopy() returns a deep copy of the list.

import copy
l1=[1,2,3,4]
print( "value of l1=", l1)
l2=copy.copy(l1) #shallow copy- any changes made to a copy of the object do reflect in the original object. 
print("value of l2=", l2)
l1[0]=0
l3=copy.copy(l1)
print ( "value of l3=", l3)

l3=copy.deepcopy(l1) #deep copy-any changes made to a copy of the object do not reflect in the original object. only copy.deepcopy() will duplicate any lists inside the list
print( "value of l3=", l3)

value of l1= [1, 2, 3, 4]
value of l2= [1, 2, 3, 4]
value of l3= [0, 2, 3, 4]
value of l3= [0, 2, 3, 4]