1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
* -Expressions
'hello'-Values
-87.8-Values
- -Expressions
/ -Expressions
+ -Expression
6 -Values

2. What is the difference between string and variable?

In [ ]:
"""
The information stored in a variable is called string. A string is a sequence of one or more characters (letters, numbers, symbols). They are enclosed in single or double quotation marks.
Variable is a symbol that can be used to store information (string, integer etc).  Or, It is given a name to the data.
"""

3. Describe three different data types.

In [ ]:
"""
String- combination of letters, numbers, special characters(within single or double quotation). stores text data. 
Integers, float and complex called numeric types.
  Integers-  Whole numbers. Eg. 2
  Floating number- Numbers with decimal point. Eg. 2.2
  complex- 3+7j
Boolean-True or False
"""

4. What is an expression made up of? What do all expressions do?

In [ ]:
"""
Expression may contain variable, values and operators. which need to be evaluated.
It will display result when you type an expression in the command line. All expressions evaluate to a single value
But the results from expression and print statement is different.
"""

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
"""
Expression gives an output. But an assignment statement does not.print statement gives an output
Assignment statement, spam=10.... No result
print statement, input spam give output 10
	Expression, [input]-spam
              [output] -'10'
"""

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
Ans=22

7. What should the values of the following two terms be?

In [ ]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [ ]:
Both gives the same value "spamspamspam"

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam' * 3

'spamspamspam'

In [ ]:
|8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
#	Because 100 starts with number. Python rule.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
By converting their values.. like,
int()
float()
str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [ ]:
This expression cause type error because 99 is an integer type. We cannot concatenate str to int. By converting 99 into a str type “99” we can fix this error.
'I have eaten ' + ‘99’ + ' burritos.'        (or)
'I have eaten ' + str(99) + ' burritos.'